@import "tailwindcss";
@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-card: hsl(var(--card));


}

@layer base {
  :root {
    --primary: 12, 20%, 19%; /* rgb(59, 43, 39) */
    --secondary: 12, 20%, 19%; /* rgb(59, 43, 39) */
    --foreground: 12, 20%, 19%; /* rgb(59, 43, 39) */
    --background: 330, 15%, 90%; /* rgb(233, 225, 229) */
    --tertiary: 328, 18%, 86%; /* rgb(225, 212, 219)*/
    --toggle: 272, 17%, 27%; /* rgb(68, 56, 79) */

    --card: 0 0% 100%;
    --primary-foreground: 210 40% 98%;
    --border: 214 32% 91%;
  }
  .dark {
    --primary: 272, 4%, 21%; /* rgb(54, 52, 56) */
    --secondary: 272, 4%, 21%; /* rgb(54, 52, 56) */
    --foreground: 272, 4%, 21%; /* rgb(54, 52, 56) */
    --background: 272, 17%, 27%; /* rgb(68, 56, 79) */
    --tertiary: 272, 18%, 40%; /* rgb(103, 83, 120)*/
    --toggle: 330, 15%, 90%; /* rgb(233, 225, 229) */

    --card: 222 47% 4%;
    --primary-foreground: 213 31% 91%;
    --border: 217 33% 20%;
  }

}
  @utility container {
    margin-inline: auto;
    padding-in-line: 2rem;
    @media (width >= 640px) {
      max-width: 640px;
    }
    @media (width >= 768px) {
      max-width: 768px;
    }
    @media (width >= 1024px) {
      max-width: 1024px;
    }
    @media (width >= 1280px) {
      max-width: 1280px;
    }
    @media (width >= 1400px) {
      max-width: 1400px;
    }
  }

  #root {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align:center;
  }

